.city-img {
    width: 400px;
    height: 200px;
}

ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}

.visit {
    font-weight: bold;
    font-family: fangsong;
}

ion-toolbar {
    padding: 8px;
}
