<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/registration" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Vérification email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-padding">
      <h2>Vérifier l'email:</h2>
      <p>
        S'il vous plaît vérifier votre email et cliquer sur le lien pour vérifier votre adresse email.
      </p>
      <ion-button
        type="submit"
        (click)="authService.SendVerificationMail()"
        expand="block"
      >
        Renvoyer la vérification d'email
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
