<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Récupération du password </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="reset-section ion-padding">
    <div class="heading ion-padding">
      <h5>Entrez votre adresse email pour vous envoyer les instructions de la récupération de votre password.</h5>
    </div>
  <div class="reset-form ion-padding">
    <form>
      <ion-row class="form-input">
        <ion-col>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" #email required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="danger"
            (click)="authService.PasswordRecover(email.value)"
            expand="block"
          >
           Envoyer l'email de la récupération
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    </div>
    </div>
</ion-content>
