
.register-section {
    height: 74vh;
    width: 100%;
    max-width: 500px;
    background: #fff;
    right: 0;
    left: 0;
    position: fixed;
    margin: auto;
    border-top-right-radius: 46px;
    border-top-left-radius: 46px;
}

.heading {
    h1{
        font-weight: bolder;
        text-align: center;
    }
}
ion-toolbar {
    padding: 8px;
}


.forgot-password {
    text-decoration: none;
    color: black;
    float: right;
}

.register-form {
    .form-input {
        position: relative;
        margin-bottom: 10px;
        ion-item{
            padding-left: 0;
        }

        ion-icon {
            position: absolute;
            top: 25px;
            z-index: 2;
            font-size: 1.2rem;
            left: 10px;
        }

        ion-label {
            margin-left:35px;
            font-weight: bolder;
            font-size: 0.9rem;
            top: 3px;
        }

        ion-input {
            font-size: 1rem;
            --padding-start: 36px;
            --padding-end: 36px;
            color: 1e7955;

        }

    }
}

.registerImg {
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}